.active {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header box1 {
    cursor: pointer;
}



input {
    
    font-size: 30px;
}

box2 {
    display: grid;
    grid-template-columns: 6fr 1fr;
    border: 1px solid black;
}

search {
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    background-color: gray;
}

header login {
    border: 1px solid black;
    padding: 7px;
    cursor: pointer;
    border-radius: 1rem;
    
}

header login:hover {
    background-color: gray;
    
    
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    border: 1px solid black;
}



.item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  
}

.item:hover {
background-color: gray;
}

.box {
    border: 1px solid black;
}

.item2 {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}

.item3 {
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
    border-radius: 1rem  
}

.item3:hover {
    background-color: gray;
}

.contents {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.item4 {
    border: 1px solid black;
    margin: 20px;      
}

.item5 {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.item6 {
    color: gray;
    font-size: 13px;
}